<!DOCTYPE html>
<html lang="en" ng-app="calendarDemoApp" id="top">
<head>
    <title>AngularUI Calendar for AngularJS</title>
    <link rel="icon" href="favicon.ico" />
    <link href="~/Content/calendarDemo.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body data-ng-app="calendarDemoApp" ng-controller="CalendarCtrl" data-spy="scroll">
<div role="main">
    <div class="container">
        <section id="directives-calendar">
            <div class="page-header">
                <h1>UI-Calendar</h1>
            </div>
            <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="btn-group calTools">
                            <button class="btn" ng-click="changeLang()">
                                {{changeTo}}
                            </button>
                            <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                                Toggle Source
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="addEvent()">
                                Add Event
                            </button>
                        </div>

                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                                    <b> <input ng-model="e.title"></b>
                                    {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                                </div>
                            </li>
                        </ul>

                    </div>

                    <div class="span8">
                        <div class="alert-success calAlert" data-ng-init="renderCalender('myCalendar1')">
                            <h4>This calendar uses the extended form</h4>
                        </div>
                        <div class="btn-toolbar">
                            <p class="pull-right lead">Calendar Three View Options</p>
                            <div class="btn-group">
                                <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                                <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                            </div>
                        </div>
                        <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17352735-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<script type="text/html" id="WeekViewEventHeader"><a class="%%classes%%"><div class="fc-content"><div class="fc-title" style="margin-right: 50px"><div style="float: left; width: 100%">Slots occupied:</div><div style="float: right; width: 50px; margin-right: -50px; text-align: right">%%slotsAvailable%%  of %%slotsTotal%%</div><div style="clear: both"></div></div></div></script>

<script type="text/html" id="WeekViewEventHeader">
    <a class="%%classes%%">
        <div class="fc-content">
            <div class="fc-title" style="margin-right: 50px">
                <div style="float: left; width: 100%">Slots occupied:</div>
                <div style="float: right; width: 50px; margin-right: -50px; text-align: right">%%slotsAvailable%% of %%slotsTotal%%</div>
                <div style="clear: both"></div>
            </div>
        </div>
        $$WeekViewEventBody$$
        <div class="fc-bg"/>
        <div class="fc-resizer fc-end-resizer"/>
    </a>
</script>

<script type="text/html" id="WeekViewEventBody">
    <div class="fc-title" style="margin-right: 50px">
        <div style="float: left; width: 100%">
            %%tierTitle%%
        </div>
        <div style="float: right; width: 50px; margin-right: -50px; text-align: right">
            %%slotsText%%
        </div>
        <div style="clear: both"></div>
    </div>
</script>

</body>
</html>